@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://govcy.gitlab.io/dsf-principles/">building awesome DSF Services with .NET Core 3.1</a>.</p>
</div>
